/* index.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: #F3DFA2;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    color: #7EBDC2;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
    font-size: 70px;

}

header h1 {
    margin: 0;
    color: #7EBDC2;
}

header p {
    margin: 0;
    color: #7EBDC2;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #7EBDC2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #EFD381;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #346B6F;
}

.project {
    background-color: #EFD381;
    padding: 10px;
    padding-bottom: 140px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 10px;
    color: #346B6F;
}

.project h3 {
    color: #EAC75D;
    color: #346B6F;
}

.column-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.column-item{
    margin-top: 0;
    text-align: center;
    margin: 0 100px;
}

.column-container-projects {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  .project-title h2{
    font-size: 80px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .skills-header h2{
    font-size: 80px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #7EBDC2;
  }

  .skills-subheader{
    font-size: 40px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #346B6F;
  }

  .my-info{
    font-size: 40px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    color: #346B6F
  }
  
  .face {
    width: 627px; 
    height: 627px; 
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    background-color: #BB4430;
    border-radius: 50%; 
  }

  .header-title{
    font-size: 80px;
    width: 100%;
    text-align: center;
    line-height: normal;
    margin-top: 150px;
    color: #7EBDC2;
    margin-bottom: 0;

  }
  
  .contact-info{
    display : flex;
    margin-left: 50px;
    
  }

  .line{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
  }